*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-body {
  font-family: Arial, sans-serif;
  background-color: #232625;
  color: #A4A69C;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;

}

.login-form-wrap {
  background-color: #35403A;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: center;
}

.login-form-wrap h2 {
  margin-bottom: 20px;
  color: #BFBFB8;
}

.login-form input[type="email"],
.login-form input[type="password"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #4C594F;
  color: #A4A69C;
}

.login-form input[type="email"]::placeholder,
.login-form input[type="password"]::placeholder {
  color: #A4A69C;
}

.btn-login {
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  border: none;
  border-radius: 5px;
  background-color: #A4A69C;
  color: #232625;
  cursor: pointer;
  font-weight: bold;
}

.btn-login:hover {
  background-color: #BFBFB8;
}

.login-form p {
  color: #BFBFB8;
}